.sider {
  height: 100vh;
  border-right: 1px solid rgba(30, 26, 44, 0.1);
  z-index: 9;
}

/* .sider :global .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
} */

.logo {
  padding: var(--space-md);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.menu {
  height: 100%;
  overflow: auto;
}

/* .menu :global .ant-menu-item {
  height: 60px;
  width: 100%;
  padding: calc(var(--space-sm) + 2px) var(--space-xl)
    calc(var(--space-sm) + 2px) 4rem !important;
  font-size: var(--text-2xl);
  font-weight: 500;
  margin: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
}

.menu :global .ant-menu-title-content {
  margin-left: var(--space-2xl);
}

.menu:global.ant-menu-inline-collapsed .ant-menu-item {
  padding: 10px 20px !important;
  align-items: center;
  justify-content: center;
}

.menu:global.ant-menu-inline-collapsed
  > .ant-menu-item
  .ant-menu-item-icon
  + span {
  display: none;
}

.menu :global .ant-menu-item:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: var(--clr-blue);
  right: 0;
  top: 0;
  border-radius: 20px 0 0 20px !important;
  opacity: 0;
  transition: 0.3s all;
} */

.link {
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebarBottom {
  padding: var(--space-lg) calc(var(--space-2xl) + 4px);
  gap: var(--space-lg);
}

.BottomContent {
  max-width: 150px;
  overflow: hidden;
}
