:root {
  /* Fonts Family */
  --font-primary: "", Arial, sans-serif, system-ui, -apple-system;
  --font-secondary: "", Arial, sans-serif, system-ui,
    -apple-system;

  /* RGBA */
  --clr-white-rgb: 255, 255, 255;
  --clr-dark-rgb: 16, 16, 16;
  --clr-golden-rgb: 234, 201, 106;
  --clr-shadow-rgb: 121, 126, 147;
  --clr-stallion-rgb: 15, 24, 32;
  --clr-sequesta-rgb: 211, 207, 82;
  --clr-tangaroa-rgb: 31, 45, 58;
  --clr-blue-rgb: 35, 50, 63;
  --clr-gray-rgb: 144, 160, 175;
  --clr-web-body-rgb: 241, 240, 244;

  /* Colors */
  --clr-white: rgb(var(--clr-white-rgb));
  --clr-white-light: rgba(var(--clr-white-rgb), 0.4);
  --clr-white-medium: rgba(var(--clr-white-rgb), 0.5);
  --clr-white-low: rgba(var(--clr-white-rgb), 0.8);
  --clr-dark: rgb(var(--clr-dark-rgb));
  --clr-golden: rgb(var(--clr-golden-rgb));
  --clr-shadow: rgb(var(--clr-shadow-rgb));
  --clr-stallion: rgb(var(--clr-stallion-rgb));
  --clr-sequesta: rgb(var(--clr-sequesta-rgb));
  --clr-tangaroa: rgb(var(--clr-tangaroa-rgb));
  --clr-blue: rgb(var(--clr-blue-rgb));
  --clr-gray: rgb(var(--clr-gray-rgb));
  --clr-web-body: rgb(var(--clr-web-body-rgb));
  --clr-success: #16b455;
  --clr-alert: #f7b731;
  --clr-error: #ff3b30;

  /* Header Height */
  --header-height: ;

  /* Sidebar Width */
  --sidebar-width: ;

  /* Icons Size */
  --icon: 24px;

  /* Global Font Size */
  --html: 10px;

  /* Font Size */
  --text-7xl: 8.6rem;
  --text-6xl: 6rem;
  --text-5xl: 4.4rem;
  --text-4xl: 4rem;
  --text-3xl: 3.2rem;
  --text-2xl: 3rem;
  --text-xl: calc(var(--html) * 2.8);
  --text-lg: calc(var(--html) * 2.4);
  --text-m: calc(var(--html) * 2.2);
  --text-sm: calc(var(--html) * 2);

  /*  Spacing */
  --space-3xl: 32px;
  --space-2xl: 24px;
  --space-xl: 20px;
  --space-lg: 16px;
  --space-md: 12px;
  --space-sm: 8px;
  --space-xs: 4px;
}

/* responsive css start */
@media (min-width: 1140px) {
  :root {
    --container-width: 1040px;
  }
}

@media (min-width: 1200px) {
  :root {
    --container-width: 1150px;
  }
}

@media (min-width: 1350px) {
  :root {
    --container-width: 1250px;
  }
}

@media (min-width: 1440px) {
  :root {
    --container-width: 1350px;
  }
}

@media (min-width: 1600px) {
  :root {
    --container-width: 1550px;
  }
}
